<p-table
  [value]="list"
  [paginator]="paginator"
  [rows]="row"
  [showCurrentPageReport]="showCurrentPageReport"
  [tableStyle]="tableStyle"
  [currentPageReportTemplate]="currentPageReportTemplate"
  [rowsPerPageOptions]="rowsPerPageOptions"
  (onLazyLoad)="getUsers()"
  (onPage)="ChangePage($event)"
  [lazy]="lazy"
  [totalRecords]="totalRecords">
  <ng-template pTemplate="header" >
    <ng-container *ngTemplateOutlet="headers || defaultHeader; context: { $implicit: list }"></ng-container>
  </ng-template>

  <ng-template pTemplate="body" [appTableRow]="list" let-data let-rowIndex="rowIndex">
    <ng-container *ngTemplateOutlet="body; context: { $implicit: data }"></ng-container>
  </ng-template>

  <ng-template pTemplate="paginatorleft"></ng-template>
  <ng-template pTemplate="paginatorright"></ng-template>

  <ng-template #defaultHeader let-data>
    <tr>
      @for (item of data[0] | keyvalue; track $index) {
        <th>{{ item.key }}</th>
      }
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>
