$primary: #3488c4;
$cl-primary: #3488c4;
$cl-secondary: #6c757d;
$cl-info: #3ec9d6;
$cl-success: #6fd943;
$cl-warning: #ffa21d;
$cl-danger: #ff3a6e;
$bg-main: rgb(176 234 196 / 33%);
$bg-secondary: rgb(3 235 24 / 10%);
// $bg-secondary:;
// $bg-disabled:;
// $bg-disabled-secondary:;
// $font-color: #;
$font-color-1: #060606;
$font-color-2: #293240;
// $font-color-3:;
// $font-color-label:;
// $font-color-secondary:;
// $font-color-form:;
$box-main-shadow: 0 4px 24px 0 rgba(47, 34, 34, 0.24);
$box-second-shadow: 0 4px 24px 0 rgba(47, 34, 34, 0.1);
$box-third-shadow: 0 3px 9px 1px rgba(47, 34, 34, 0.1);
$bg-active: linear-gradient(118deg, $primary, rgb(180 25 25 / 50%));
// $bg-color: #fefefe;
$bg-color: #fafafa;
$bg-color-2: #f4f4f4;
// $bg-loader: ;
$gradient: linear-gradient(180deg, $primary 0%, #38b6ff 96.4%);
